
{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="en"{% endblock %}
{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Project Tracker</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="static/cover.css" rel="stylesheet">
{% endblock %}

{% block metas %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
{% endblock %}

{% block body_attribs %} class="text-center"{% endblock %}
{% block content%}
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
            <h3 class="masthead-brand">Project Tracker 2021</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link" href="#">Projects</a>
                <a class="nav-link" href="#">About</a>
            </nav>
            </div>
        </header>

        <main role="main" class="inner cover">
            <h1 class="cover-heading">Be Productive. Growth Mindset.</h1><br />
            <p class="lead">Get started and complete your projects.</p>
            <p class="lead">Track your tasks. List your bugs.</p>
            <p class="lead">Click below.</p>
            <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary">View Projects</a>
            </p>
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
            <p>Portfolio project by <a href="https://getbootstrap.com/">Andrew C.</a></p>
            </div>
        </footer>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
{% endblock %}

